*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    align-items: center;
}

.about img{
    width: 300px;
    border-radius: 10px;
}

.about{
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 20px;
}

section{
    max-width: 800px;
}

.text{
    padding: 20px;
    
}

.text h2{
    text-align: center;
    margin-bottom: 20px;
}

.text p{
    text-align: justify;
}

.projects{
    display: flex;    
}

.proj img{
    width: 280px;
    height: 152px;
}

.proj{
    padding: 20px;
    text-align: justify;
}

/* Responsividade Tablet */
@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }

    header nav{
        margin-top: 20px;
    }
}

/* Responsividade SmartPhone */
@media screen and (max-width: 576px) {
    header{
        flex-direction: column;
    }

    header nav{
        margin-top: 20px;
    }

    footer{
        flex-direction: column;
    }
}