*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
}

body{
    background-color: lightgray;
}

.header{
    background-color: #162E58;
    color: white;
}

.header h1{
    padding: 20px;
}

.header h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 12px;
}

.grupos, .gols{
    background-color: white;
    width: 60%;
}

.grupos h2{
    padding: 20px 5px;
    font-weight: bold;
}

th{
    color: #70757a;
}

table{
    width: 100%;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}

.left{
    text-align: left;
}

td{
    border-top: 0.5px solid #70757a;
    padding: 5px;
    font-size: 14px;
}

.grupos img{
    width: 24px;
}

.w30{
    width: 24px;
}

.gols img{
    width: 36px;
    border-radius: 50%;
}

hr{
    background-color: #162E58;
    height: 20px;
}
