*{
    box-sizing: border-box;
}
header{
    background-color: darkgray;
    height: 15vh;
    color: white;
}
.clear{
    clear: both;
}
nav{
    width: 10%;
    height: 100%;
    float: left;
    background-color: lightgrey;
}
main{
    height: 70vh;
}
section{
    width: 80%;
    height: 100%;
    float: left;
    background-color: yellow;
}
article{
    height: 33.33%;
    border: 2px solid ;
}
aside{
    width: 10%;
    height: 100%;
    float: left;
    background-color: lightgrey;
}
footer{
    height: 15vh;
    background-color: darkgray;
}